streamlit
pandas
numpy

langgraph
langchain
langchain-core

faiss-cpu
sentence-transformers

groq
python-dotenv

fastapi
uvicorn

pydantic

python-multipart

requests

scikit-learn

torch
transformers
